h1.main-header {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-align: center;
}
h1 span.golang {
    font-size: 42px;
    color: #81baff;
}
.graph-container {
    width: 100%;
    text-align: center;
}
.graph-container__graph {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    max-height: 300px;
    width: 400px;
    height: 300px;
}